<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.uta.movietalk.mapper.DirtyWordMapper">
  <resultMap id="BaseResultMap" type="edu.uta.movietalk.entity.DirtyWord">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="word" jdbcType="VARCHAR" property="word" />
    <result column="language" jdbcType="VARCHAR" property="language" />
  </resultMap>
  <sql id="Base_Column_List">
    id, word, language
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dirty_word
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectWordBySelective" parameterType="map" resultType="java.lang.String">
    select
    word
    from dirty_word
    where 1=1
    <if test="id != null">
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="word != null">
      and word = #{word,jdbcType=VARCHAR}
    </if>
    <if test="language != null">
      and language = #{language,jdbcType=VARCHAR}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dirty_word
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.uta.movietalk.entity.DirtyWord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dirty_word (word, language)
    values (#{word,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.uta.movietalk.entity.DirtyWord">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into dirty_word
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="word != null">
        word,
      </if>
      <if test="language != null">
        language,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="word != null">
        #{word,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.uta.movietalk.entity.DirtyWord">
    update dirty_word
    <set>
      <if test="word != null">
        word = #{word,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        language = #{language,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.uta.movietalk.entity.DirtyWord">
    update dirty_word
    set word = #{word,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>